docker.enabled = true

timeline {
  enabled = true
}
report {
  enabled = true
}
trace {
  enabled = true
}
dag {
  enabled = true
}


profiles {

  local {
    process.executor = 'local'
  }

  aws {
    process.executor = 'awsbatch'
    process.queue = 'nextflow'
    executor.awscli = '/home/ec2-user/miniconda/bin/aws'
    workDir = 's3://czb-nextflow/work'
    docker.enabled = true
  }
}


aws {
	region = 'us-west-2'

    client {
        maxConnections = 20
        connectionTimeout = 10000
        uploadStorageClass = 'INTELLIGENT_TIERING'
        storageEncryption = 'AES256'
    }
}

// cloud {
//       // Amazon ECS-optimized Nextflow image with AWS cli
//     imageId = 'ami-0c323ba3e98b979f9'
//     instanceType = 'm4.xlarge'
//     // subnetId = 'subnet-05222a43'
//     autoscale {
//               enabled = true
//               maxInstances = 20
//               terminateWhenIdle = true
//               }
// }
