/*
 * -------------------------------------------------
 *  nf-core/kmermaid Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {
  // Pipeline Options
  read_pairs = false
  read_singles = false
  samples = false
  samples_singles = false
  csv_pairs = false
  csv_singles = false
  fastas = false
  protein_fastas = false
  sra = false

  // Only used for testing
  protein_fasta_paths = false
  read_paths = false

  // Parsing 10x bam files
  tenx_tgz = false
  tenx_tags = "CB,XC,UB,XM,XB,RG"
  tenx_cell_barcode_pattern = '(CB|XC):Z:([ACGT]+)(\\-1)?'
  tenx_molecular_barcode_pattern = '(UB|XB|XM):Z:([ACGT]+)'
  tenx_min_umi_per_cell = 0

  // Creating sketches
  molecules ='dna,protein,dayhoff'
  ksizes = '21,27,33,51'
  log2_sketch_sizes = '10,12,14,16'
  track_abundance = false

  skip_trimming = false

  // translate options
  translate_peptide_ksize = 9
  translate_peptide_molecule = 'protein'
  translate_jaccard_threshold = 0.95
  reference_proteome_fasta = false
  bloomfilter_tablesize = '1e8'



  // ska options
  splitKmer = false
  subsample = false

  // 10x options
  save_fastas = "fastas"
  tenx_min_umi_per_cell = '0'
  write_barcode_meta_csv = false
  bam = false

  // 10x optional input parameters set using the below pattern
  // https://github.com/nextflow-io/patterns/blob/master/docs/optional-input.adoc
  barcodes_file = false
  rename_10x_barcodes = false
  shard_size = 350

  // Boilerplate options
  outdir = './results'
  name = false
  multiqc_config = "$baseDir/assets/multiqc_config.yaml"
  email = false
  plaintext_email = false
  monochrome_logs = false
  help = false
  maxMultiqcEmailFileSize = 25.MB
  igenomes_base = "./iGenomes"
  tracedir = "${params.outdir}/pipeline_info"
  awsqueue = false
  awsregion = 'eu-west-1'
  igenomesIgnore = false
  custom_config_version = 'master'
  custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
  hostnames = false
  config_profile_description = false
  config_profile_contact = false
  config_profile_url = false
}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

// Container slug. Stable releases should specify release tag!
// Developmental code should specify :dev
// TODO: change container nameprocess.container = 'nfcore/kmermaid:dev'
process.container = 'nfcore/kmermaid:dev'

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load nf-core custom profiles from different Institutions
try {
  includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
  System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}


// Load nf-core custom profiles from different Institutions
try {
  includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
  System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

profiles {
  awsbatch { includeConfig 'conf/awsbatch.config' }
  conda { process.conda = "$baseDir/environment.yml" }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker {
    docker.enabled = true
    // Added default docker option to avoid docker permission errors
    docker.runOptions = "-u \$(id -u):\$(id -g)"
    docker.temp = "auto"
  }
  singularity { singularity.enabled = true }
  test { includeConfig 'conf/test.config' }
  test_ska { includeConfig 'conf/test_ska.config' }
  test_bam { includeConfig 'conf/test_bam.config' }
  test_protein_fastas { includeConfig 'conf/test_protein_fastas.config' }
  test_tenx_tgz { includeConfig 'conf/test_tenx_tgz.config' }
  test_translate { includeConfig 'conf/test_translate.config' }
  test_translate_bam { includeConfig 'conf/test_translate_bam.config' }
}

// Load igenomes.config if required
if(!params.igenomesIgnore){
  includeConfig 'conf/igenomes.config'
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

manifest {
  name = 'nf-core/kmermaid'
  author = 'Olga Botvinnik'
  homePage = 'https://github.com/nf-core/kmermaid'
  description = 'Compare DNA/RNA/protein sequences on k-mer content'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
  version = '1.0.0dev'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit

def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
