/*
 * ------------------------------------------------------------------
 *  Nextflow config file for running bam files on human organoid data
 * ------------------------------------------------------------------
 */

params {
  config_profile_name = 'Primate data processing profile'
  config_profile_description = 'Primate bam data processing'
  // Limit resources so that this can run on Travis
  max_cpus = 32
  max_memory = 8.GB
  max_time = 48.h
  // Input data
  bam = '/mnt/ibm_lg/shayan/brain-organoid/catted/HumanOrganoid_merged/data/merged_final.bam'
  // Sketch Parameters
  ksizes = '15,21,27,33'
  log2_sketch_sizes = '10,12,14,16'
  molecules = 'dna,protein,dayhoff'
  read_pairs = false
  save_fastas = "fastas"
  write_barcode_meta_csv = "metadata.csv"
  min_umi_per_barcode = "1000"
}
