/*
 * -------------------------------------------------------------------
 *  Nextflow config file for running tests with bam, extract_coding
 * -------------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/kmermaid -profile test_extract_coding.config
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  fastas = "https://github.com/nf-core/test-datasets/raw/kmermaid/reference/gencode.v32.pc_transcripts.subsample5.fa"
  // Sketch Parameters
  ksizes = '3,9'
  log2_sketch_sizes = '2,4'
  molecules = 'dna,protein,dayhoff'
  read_pairs = false

  reference_proteome_fasta = 'https://github.com/nf-core/test-datasets/raw/kmermaid/reference/gencode.v32.pc_translations.subsample5.randomseed0.fa'
  bloomfilter_tablesize = '1e8'
  extract_coding_peptide_ksize = '11'
  extract_coding_peptide_molecule = 'dayhoff'
}
