/*
 * -------------------------------------------------
 *  Nextflow config file for running tests with bam
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/kmermaid -c test_bam.config
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  bam = [
    'https://github.com/nf-core/test-datasets/raw/olgabot/kmermaid--bam-unique-names/testdata/mouse_lung.bam',
    'https://github.com/nf-core/test-datasets/raw/olgabot/kmermaid--bam-unique-names/testdata/mouse_brown_fat_ptprc_plus_unaligned.bam']
  // Sketch Parameters
  ksizes = '3,9'
  log2_sketch_sizes = '2,4'
  molecules = 'dna,protein,dayhoff'
  read_pairs = false
  save_fastas = "fastas"
  save_intermediate_files = "/tmp/"
  write_barcode_meta_csv = "metadata.csv"
  // For bam, each fasta record represents each barcode and each should have a signature
  // they should not be merged, For computation on bam file using sourmash, please set true for the below flag
  tenx_min_umi_per_cell = 10
  shard_size = 350
}